<div class="container">
  <div class="row">
    <br>
    <div class="col-md-3 col-md-offset-1">
      <%= image_tag @user.avatar, class: "img-responsive" %>
    </div>
    
    <div class="col-md-7 ">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge badge-primary badge-pill">Name</span>
          <h1><%= @user.name %></h1>
        </li>
        <li class="list-group-item">
          <span class="badge badge-primary badge-pill">Email</span>
          <%= @user.email %>    
        </li>
        <li class="list-group-item">
          <span class="badge badge-primary badge-pill">Intro</span>
          <%= @user.intro %>
        </li>
        <li class="list-group-item"><%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %></li>
      </ul>
    </div>
    
    <div class="col-md-10 col-md-offset-1">
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">已評論餐廳</div>
        <div class="panel-body">
          <% @commented_restaurants.each do |restaurant| %>
            <div class="my-restaurant">
              <%= image_tag restaurant.image, class: "img img-responsive" %>
              <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
            </div>
          <% end %>
        </div>
      </div>     
    </div>
  
  </div>
</div>