<div class="container">
  <div class="row">
    <br>
    <div class="col-md-3 col-md-offset-1">
      <%= image_tag @user.avatar, class: "img-responsive" %>
    </div>
    
    <div class="col-md-7 ">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge badge-primary badge-pill">Name</span><br>
          <h2><%= @user.name %></h2>
        </li>
        <li class="list-group-item">
          <span class="badge badge-primary badge-pill">Email</span><br>
          <%= @user.email %>    
        </li>
        <li class="list-group-item">
          <span class="badge badge-primary badge-pill">Intro</span><br>
          <%= @user.intro %>
        </li>
        <li class="list-group-item"><%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <!-- 自己去追蹤的人 -->
    <div class="col-md-3 col-md-offset-1 ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= @followings.count %> followings
        </div>
        <div class="panel-body">
          <% @followings.each do |following| %>
            <%= link_to(user_path(following)) do %>
              <div class="follow_list">
                <%= image_tag following.avatar, class: "img-circle img-thumbnail", alt: "使用者未上傳圖片"  %>
                <%= following.name %>
                <hr>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    
    <!--已評論餐廳-->
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">已評論餐廳</div>
        <div class="panel-body">
          <% @commented_restaurants = @commented_restaurants.uniq %>
          <% @commented_restaurants.each do |restaurant| %>
            <%= link_to(restaurant_path(restaurant)) do %>
              <div class="my-restaurant">
                <%= image_tag restaurant.image, class: "img img-responsive" %>
                <p><%= restaurant.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>     
    </div>

    <!-- 追蹤自己的人 -->
    <div class="col-md-3 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= @followers.count %> followers
        </div>
        <div class="panel-body">
          <% @followers.each do |follower| %>
            <%= link_to(user_path(follower)) do %>
              <div class="follow_list">
                <%= image_tag follower.avatar, class: "img-circle img-thumbnail", alt: "使用者未上傳圖片"  %>
                <%= follower.name %>
                <hr>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    
    <!-- 收藏的餐廳 -->
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= @favorited_restaurants.count %> 收藏的餐廳
        </div>
        <div class="panel-body">
          <% @favorited_restaurants.each do |restaurant| %>
            <%= link_to(restaurant_path(restaurant)) do %>
              <div class="my-restaurant">
                <%= image_tag restaurant.image, class: "img img-responsive" %>
                <p><%= restaurant.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>

</div>