<% @restaurants.each do |restaurant| %>
  <div class="col-xs-12 col-sm-12 col-md-4">

    <div class="thumbnail">
      <% if restaurant.image? %>
        <p class="image-container"><%= image_tag restaurant.image, class: "img img-responsive center-block" %></p>
      <% else %>
        <p class="noimage-container">no image upload</p>
      <% end %>
      <div class="caption">
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
        <p class="label label-default"><%= restaurant.category.name %></p>
        <p><%= truncate(restaurant.description) %></p>
      </div>
    </div>

  </div>
<% end %>

<div class="text-center">
  <%= paginate @restaurants %>
</div>
