<div class="container">
  <h1>餐廳前台</h1>
  <div class="row">

    <% @restaurants.each do |restaurant| %>
      <div class="col-md-4">

        <div class="thumbnail">
          <p class="image-container"><%= image_tag restaurant.image, class: "img img-responsive center-block" %></p>
          <div class="caption">
            <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
            <p class="label label-default"><%= restaurant.category.name %></p>
            <p><%= truncate(restaurant.description, length:80) %></p>
          </div>
        </div>

      </div> 
    <% end %>

    <div class="text-center">
      <%= paginate @restaurants %>
    </div>

  </div>
</div>
