<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to '首頁', root_path %></li>
    <li role="presentation"><%= link_to '最新動態', feeds_restaurants_path %></li>
    <li role="presentation" class="active"><%= link_to 'TOP10人氣餐廳', ranking_restaurants_path %></li>
    <li role="presentation"><%= link_to '美食達人', users_path %></li>
  </ul>

  <h1>TOP 10 人氣餐廳</h1>(收藏數最高)

  <% @restaurants.each do |restaurant| %>
    <%= image_tag restaurant.image %>
    <h4><%= restaurant.name %></h4>
    <span>收藏數：<%= restaurant.favorites_count %></span>
    <p><%= truncate(restaurant.description, length: 200) %></p>
    <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary" %>
    <%= render partial: 'shared/favorite', locals: { restaurant: restaurant } %>
  <% end %>


</div>